@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Fira+Sans&family=Roboto:wght@100;400&family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    transition: 0.3s;
}
.header .header-toggle {
    color: black;
    background-color: green;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    transition: background-color 0.3s;
  }

@media (min-width:1000px){
    .navbar ul{
        display: flex;
        list-style: none;
        /* padding-right: 40px; */
    }
    .navbar ul li {
        margin-right: 60px;
    }
    .navbar ul li a{
        position: relative;
        font-size: 25px;
        font-weight: 500;
        color: black;
    }
    .navbar ul li a:hover{
        color: orangered;
    }
    .toogle{
        display: none;
    }
}

@media (max-width:999px){
    .toogle{
        display: block;
    }
    .navbar ul {
        display: none;
    }
}
.home {
    display: flex;
    /* align-items: center; */
    /* padding: 1% 0; */
    justify-content: space-around;
    height: 90vh;
}
.content h1,
.content h2{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 500;
}

.profile_img img{
    width: 300px;
    height: 320px;
    border-radius: 50%;
    border: none;
    outline:6px solid  rgb(171, 169, 169);
}

.primary-btn{
    padding: 10px 20px;
    margin: 10px 30px 0 0 ;
    font-size: 18px;
    border-radius: 21px;
    border: none;
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    padding: 40px 0;
    position: relative;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  
  .footer .credits {
    margin-top: 4px;
    font-size: 13px;
    text-align: center;
  }